<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>CSS3-选择器</title>
  <link rel="stylesheet" href="../css/base.css">
</head>
<body>
  <a href="#top" class="go-top">Top</a>
  <div id="top"></div>
	<div class="wrapper">
		<header>CSS3-选择器</header>
		<section>
			<header>简介</header>
			<div class="wrap-box">
        <p>
          CSS3新增了许多灵活查找元素的方法，极大的提高了查找元素的效率和精准度。CSS3选择器与jQuery中所提供的绝大部分选择器兼容。
        </p>
			</div>
    </section>    
    <section>
      <header>练习案例</header>
      <div class="wrap-box">
        <ul>
          <li><a href="./01-selector.html">CSS3-选择器练习案例</a></li>
        </ul>
      </div>
    </section>
    <section>
      <header>导航</header>
      <div class="wrap-box">
        <ul>
          <li><a href="./index.html">CSS-介绍</a></li>
          <li><a href="./01-selector.html">CSS3-选择器</a></li>
        </ul>
      </div>
    </section>
	</div>
</body>
</html>